torch
transformers
sentencepiece
faster-whisper
silero-vad
pyrnnoise
sounddevice
numpy
scipy
gtts
pygame
sacremoses
requests
python-dotenv
twilio
customtkinter
fpdf2
pydub
fastapi
uvicorn
python-multipart
selenium
webdriver-manager
